// Base
* {box-sizing: border-box}

html, body {
	height: 100%;
	background-color: #fff;
	color: #000;
}

html {
	box-sizing: border-box;
	font-size: 16px;
}

body {
	//font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	margin: 0;
}

body {
    background-color: 232323;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
	margin: 0;
	padding: 0;
	font-weight: 400;
	color: #ececec;
	background-color: #232323;
}

h1 {
	font-size: 1rem;
	font-weight: 900;
}

h2 {
	font-size: 0.9rem;
	margin-bottom: 0.8rem;
}

h3 {
	font-size: 0.8rem;
}

p {
    font-size: 0.8rem;
	margin-bottom: 0.8rem;
	line-height: 1.9;
}

ol, ul {
	list-style: none;

	&.small {
		font-size: 0.8rem;
	}
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: underline;
	color: #fff;
	font-weight: 600;

	&:hover {
		text-decoration: none;
		color: #90e4ff;
	}

}
