.int-links {

    li {
        font-size: 0.8rem;
        padding: 0;
        margin-bottom: 0.8rem;

        a {

        }

        span {
            font-family: ui-monospace,
                Menlo, Monaco,
                "Cascadia Mono", "Segoe UI Mono",
                "Roboto Mono",
                "Oxygen Mono",
                "Ubuntu Monospace",
                "Source Code Pro",
                "Fira Mono",
                "Droid Sans Mono",
                "Courier New", monospace;
            font-size: 0.75rem;
            margin-left: auto;
            color: #999;
            display: block;
            line-height: 1.25rem;

        }
    }

}
