---
import { getPageByTitle } from '../lib/drupal.js';

const page = await getPageByTitle('About');
---

<section class="about">
    <h2>{page.attributes.title}</h2>
    {page.attributes.body && (
        <div set:html={page.attributes.body.value} />
    )}
</section>
